* { margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
.inicio {   /*pagina index*/
	background-image: url(../img/fondo-web.jpg);
	background-size: cover;
	font-family: "roboto","sans serif", "calibri";
	}

.menu {	
	    grid-area: menu;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	    padding: 1rem;
		justify-content: space-around;
    }
.menu nav {
	font-size: x-large;
	color: white;
	list-style-type: none;
	}
.menuNav li {
	display: inline-block;
	}
.menuNav li a {
	text-decoration: none;
	color: white;
	padding: 0 20px;
	}
section {
	grid-area: section;	
	display: flex;
	flex-direction: column;
	align-items: center;
	color: aliceblue;
	}
.bienvenida h1 {
		font-size: xx-large;
		animation-duration: 2.5s; /*animacion titulo*/
		animation-name: aparecer;
		animation-iteration-count:initial;
		}
	@keyframes aparecer {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
.bienvenida img {
	width: 700px;
}
.bienvenida:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.bienvenida div {
	overflow: hidden;
}
.bienvenida p {
		font-size: larger;
		padding: 1rem;
	}
div .ubicacion {
		grid-area: div;
		background-color: #616161;
		width: 320px;
		border: 10px;
		border-style: solid;
		border-color: rgb(187, 180, 180);
		margin: 10px 0;
	}
.ubicacion h2 {
	color: aliceblue;
	text-align: center;
	font-size: x-large;
}
.ubicacion p {
	color: aliceblue;
	text-align: justify;
	font-size: large;
}
.mapa {
		padding: 10px;
		width: 100%;
	}
footer { /* footer */
	  background-color:#1A1A1A;
	  padding: 15px;
	  margin: 15px;
	  width: 100%;
	  }
footer a {
	text-decoration: none;
	color:rgb(187, 180, 180)
}
	
.habitaciones { /*pagina habitaciones*/
	background-image: url(../img/fondo-web.jpg);
	background-size: cover;
	}

.habitaciones h1 {
	font-size: xx-large;
	margin: 2px;
	padding: 2px;
}
.habitaciones p {
	font-size: large;
	margin: 2px;
	padding: 2px;
     }

.nosotros { /*pag. sobre nosotros*/
	background-image: url(../img/fondo-web.jpg);
	background-size: cover;
	font-family: "roboto","sans serif", "calibri";
}
.nosotros h1 {
	font-size: xx-large;
	animation-duration: 2.5s; /*animacion titulo*/
	animation-name: aparecer;
	animation-iteration-count:infinite;
	}
@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.nosotros img:hover {
	filter: sepia(70%)
}
.servicios {  /*servicios*/
	background-image: url(../img/fondo-web.jpg);
	background-size: cover;
	font-family: "roboto","sans serif", "calibri";
	
}


.contacto { /* pag contacto*/
	background-image: url(../img/fondo-web.jpg);
	background-size: cover;
	font-family: "roboto","sans serif", "calibri";
	}
.caja {
	display: flex;
	justify-content: center;
	font-size: larger;
	color: aliceblue;
	background-color: #616161;
	width: 90%;
	margin: 0 auto;
	padding: 1rem;
	}


/*responsive media queries*/
@media (max-width: 480px) {  /*responsive index*/
	.inicio {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto 100px;
		grid-template-areas: "menu menu"
		                    "section section"
							"div div"
							"footer footer";
	}
	.menu {
		height: auto;
		width: 100%;
	}
	.menulogo {
		display: none
	}
	.menu nav ul li {
		display: block;
		font-size: large;
		margin: 0.5rem;
	}
	.bienvenida {
		grid-area: section;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bienvenida article {
		font-size: small;
	}
	.bienvenida img {
		width: 100%;
		}
	.mapa {
		width: 100%;
	}
	.ubicacion {
		grid-area: div;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
	}
	.pie {
		grid-area: footer;
		display: block;
	}
	.ubicacion p {
		padding: 1rem;
	}
	/*responsive de servicios*/
	.servicios {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto 100px;
		grid-template-areas: "menu menu"
		                    "section section"
							"footer footer"
	}
	/*responsive sobre nosotros*/
	.nosotros {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto 100px;
		grid-template-areas: "menu menu"
		                    "section section"
							"footer footer"
	}
	.sobrenos {
		display: flex;
		flex-direction: column;
		font-size: small;
		padding: 2px;
	}
	
	.sobrenos img {
		width: 150px;
		height: auto;
	}
	/*responsive contacto*/
	.contacto {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto 100px;
		grid-template-areas: "menu menu"
		                    "section section"
							"div div"
							"div div"
							"footer footer"
	}
	.contactanos {
		grid-area: section;
		display: flex;
		flex-direction: column;
		font-size: small;
		justify-content: center;
		align-items: center;
		margin: 2px;
		padding: 2rem;
	}
	.caja {
		grid-area: div;
	}
	.formulario {
		font-size: small;
		width: 200px;
	}
	.habitaciones{ /*responsive habitaciones*/
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto 100px;
		grid-template-areas: "menu menu"
		                    "section section"
							"div div"
							"div div"
							"div div"
							"footer footer"
	}
	.camas {
		grid-area: section;
		display: flex;
		flex-direction: column;
		}
	.intro {
		font-size: small;
	}
	.tarjetas {
		grid-area: div;
		display: flex;
		flex-direction: column;
	}
}